.highlight {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff0000;
}
.meme-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.safiullah-baig-page {
  background-color: #f2f2f2;
  opacity: 0.9;
}
.text-center {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}
